<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="forzaDash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="forzaDash.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <forzaDash.Properties.Settings>
            <setting name="ForzaIP" serializeAs="String">
                <value />
            </setting>
        </forzaDash.Properties.Settings>
        <forzaDash.Settings>
            <setting name="ForzaIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </forzaDash.Settings>
    </userSettings>
</configuration>